<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Hey there! Welcome to Angular 8 Assignment 2</h3>
      <p> We will be showing how to use two way binding
      The below UserName input text field will receive user input and output the username via String Interpolation
      Also a button will be used which will only be active if username field is non empty.
      Upon clicking the button, the username will again become empty. </p>

      <app-two-way-binding></app-two-way-binding>


    </div>
  </div>

</div>
